* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Montserrat;    
}

a {
    text-decoration: none;
}

.panel__father {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.panel {
    width: 100%;
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    background: #FFFFFF;
}

.logo {
    width: 95px;
    height: 30px;
    background: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding-top: 5px;
    margin-left: 20px;
}

.vhod {
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    color: #000000;
    border: 2px solid #000000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 15px;
    transition: all 0.5s;
}

.vhod:hover {
    background: #000000;
    color: #FFFFFF;
    transition: all 0.5s;
}

.title {
    font-size: 30px;
    font-weight: 700;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 30px auto;
    justify-content: center;
}

.anketa {
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
}

.anketa__img {
    width: 250px;
    height: 250px;
    
}

.anketa__info {
    margin: 0;
    width: 100%;
    height: 140px;
    padding-left: 17px;
    padding-top: 17px;
}

.name,
.firstname {
    display: flex;
    font-size: 15px;
    font-weight: 600;
}

p {
    font-weight: 700;
    margin-left: 5px;
}

.perehod {
    display: block;
    width: 150px;
    height: 40px;
    border: 2px solid #000000;    
    background: #FFFFFF;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    transition: all 0.5s;
}

.perehod:hover {
    background: #000000;
    color: #FFFFFF;
    transition: all 0.5s;
}

